// Base styles for body and general alignment
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

// Main content margin top equals header height plus some spacing
main {
  padding: 80px; // Adjust this value based on the actual height of your header
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.post {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 80%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;

  h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #333;
  }

  p {
    color: #666;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; // Number of lines
    -webkit-box-orient: vertical;
  }

  .read-more {
    color: #0077cc;
    cursor: pointer;
    margin-top: 10px;
  }
}

.hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;

  div {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
}

// Media query for small screens
@media (max-width: 768px) {
  .post {
    width: 95%;
  }
}
